In [10]:
import numpy as np
import pandas as pd

ModuleNotFoundError: ignored

In [0]:
result = pd.DataFrame()
result['a1']=csvtta1.Class
result['a2']=csvtta2.Class
result['a3']=csv1.Class
result['a4']=csv2.Class
result['a5']=csv3.Class
result['a6']=csv4.Class
result['a7']=csv5.Class
result['a8']=csv6.Class

In [7]:
csvtta1=pd.read_csv('/content/227_900376_us_sample_submission_tta_Do8LpZG.csv')
csvtta2=pd.read_csv('/content/227_900376_us_sub_csv_trash_trying_tta.csv')
csv1=pd.read_csv('/content/227_900376_us_sub_csv10.csv')
csv2=pd.read_csv('/content/227_900376_us_sub_csv15.csv')
csv3=pd.read_csv('/content/227_900376_us_sub_csv16.csv')
csv4=pd.read_csv('/content/227_900376_us_sub_csv17.csv')
csv5=pd.read_csv('/content/227_900376_us_sub_csv18.csv')
csv6=pd.read_csv('/content/227_900376_us_sub_csv19.csv')
csvtta1.head()

          ID   Class
0  25321.jpg  MIDDLE
1    989.jpg   YOUNG
2  19277.jpg  MIDDLE
3  13093.jpg  MIDDLE
4   5367.jpg     OLD

In [14]:
result.head()

       a1      a2      a3      a4      a5      a6      a7      a8 max_freq
0  MIDDLE  MIDDLE  MIDDLE  MIDDLE   YOUNG  MIDDLE   YOUNG   YOUNG   MIDDLE
1   YOUNG   YOUNG   YOUNG   YOUNG   YOUNG   YOUNG   YOUNG   YOUNG    YOUNG
2  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE   MIDDLE
3  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE  MIDDLE   MIDDLE
4     OLD  MIDDLE  MIDDLE     OLD     OLD     OLD     OLD     OLD      OLD

In [0]:
result['max_freq'] = result.agg(lambda x: x.mode() if x.mode().size==1 else x['a4'], axis=1)

In [0]:
csv = pd.read_csv('/content/sample_submission.csv')
csv['Class'] = result['max_freq']

In [16]:
csv.head()

    Class         ID
0  MIDDLE  25321.jpg
1   YOUNG    989.jpg
2  MIDDLE  19277.jpg
3  MIDDLE  13093.jpg
4     OLD   5367.jpg

In [0]:
csv.to_csv('/content/essemble1.csv',index=False)